$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "mixins.scss";
// @import url("http://www.google.com/fonts#ChoosePlace:select/Collection:Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,300,600,700,800");

//615px width window
body {

  font-family: Open-Sans;
  font-weight: 300;

  hr {
      @include hr-line;
    }

  section {
    position: relative;
  }

  #top-divider {
    padding: 0;
    margin-top: 6.6em;
  }

  .top-header {
    color: #777777;
    margin-left: 1em;
    margin-right: 1em;
    h1 {
      font-size: 2.9em;
    }
    h4 {
      font-size: 1.05em;
    }
    img {
      margin-top: -3em;
      width: 7.5em;
    }
    #menu-dropdown {
      display: none;
      font-size: 1.2em;
      margin-right: 0.6em;
      position: absolute;
      right: 0;
      top: 10.1em;
      padding: 1em;
      span {
        padding-right: 1em;
      }
    }
    .header-title {
      display: inline-block;
      margin-top: 3em;
    }
    .social-tab {
      margin: 0 0.3em;
      display: inline-block;
      padding: 1em;
      @include border-radius(0px, 0px, 5px, 5px);
      position: absolute;
      right: 0;
      i {
        color: #418AC9;
        padding: 0.5em 0.5em 0.5em 0.5em;
        background-color: white;
        @include border-radius(20px, 20px, 20px, 20px);
      }

    }
    .social-icon {
      padding: 0 0.2em 0 0.2em

    }

  }
  .features {
    text-align: center;
    h1 {
      font-size: 3em;
    }
    .feature-title {
      padding: 0 3em;
      margin-top: 3.6em;
      h4 {
        margin: 1em 0;
        font-size: 1.5em;
      }
    }
    button {
      display: block;
      margin: 0 auto;
      padding: 0.8em;
      font-size: 1.3em;
      font-weight: 300;
    }
    img {
      margin-top: 4.6em;
    }
    .feature-1 {
      font-size: 1.15em;
      h3 {
        font-size: 1.1em;
        font-weight: 700;
      }
    }
  }

  section#projects {
    text-align: center;
    h1 {
      margin-top: 3em;
      font-weight: 700;
      font-size: 2em;
    }
    h3 {
      font-size: 1.4em;
    }
    .project-1 {
      position: relative;
      .project-1-image {
        background-image: url(../images/bw-hallway.jpg);
        width: 10em;
        height: 10em;
        margin: 50px;
      }
      #up-arrow {
        width: 51px;
        opacity: 0.8;
        position: absolute;
        margin: 0;
        right: 0;
        top: 6em;

      }
      img {
        width: 100%;
        margin: 1em;
      }
    }
  }
  section.clients {
    text-align: center;
    #up-arrow {
      position: absolute;
      right: 0;
      top: 1em;
      opacity: 0.4;
    }
  }
  section.wp-info {
    background-color: #222222;
    color: #D0C9C8;
    i {
      color: #418AC9;
    }
    img {
      position: absolute;
      right: 0;
      top: 4.5em;
      opacity: 0.5;
    }
    p {
      margin: 0;
    }
  }
  section.about-us {
    background-color: #222222;
    color: #D0C9C8;
    h2 {
      margin: 0;
    }
  }
  section.latest-news {
    padding: 1em 1em;
    background-color: #222222;
    color: #D0C9C8;

      img {
        width: 6em;
        margin: 1em;
        @include border-radius (3px, 3px, 3px, 3px);
      }
  }
  section.flickrfeed {
    padding: 1em 1em;
    p {
      margin: 0;
    }
    h2 {
      margin: 0;

    }
    background-color: #222222;
    color: #D0C9C8;
      img {
        width: 4em;
        height: 4em;
        margin: 0.1em;
        @include border-radius (10px, 10px, 10px, 10px);
      }
  }
  section.footer {
    padding: 1em 1em;
    position: relative;
    background-color: #111111;
    color: grey;
    p {
      // padding: 1em 0;
    }
    img {
      position: absolute;
      right: 0;
      bottom: 2.0em;
      opacity: 0.5;
    }
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
