@mixin border-radius($a,$b,$c,$d) {
  -webkit-border-radius: $a $b $c $d;
     -moz-border-radius: $a $b $c $d;
      -ms-border-radius: $a $b $c $d;
          border-radius: $a $b $c $d;
}

@mixin hr-line {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #777777 -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 0;
  color: #D6D6D6;
  padding-top: 3em
}
